NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your_publishable_key_here
CLERK_SECRET_KEY=your_clerk_secret_key
NEXT_PUBLIC_CLERK_SIGN_IN_URL=sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=sign-up

# Connect to Supabase via connection pooling
DATABASE_URL="database_url"

# Direct connection to the database. Used for migrations
DIRECT_URL="direct_url"

ARCJET_KEY=arcjet_key

RESEND_API_KEY=resend_api_key

GEMINI_API_KEY=gemini_api_key